/german-english-transformer/*.tar
/german-english-transformer/runs/
/german-english-transformer/checkpoints/
/german-english-transformer/.data/
/clinicalBERT/data
/clinicalBERT/model
/clinicalBERT/*.png
/clinicalBERT/*result
/clinicalBERT/result_discharge_140421/
/clinicalBERT/result_discharge_150421/
/clinicalBERT/result_discharge_val_acc/
/clinicalBERT/result_new_discharge_full_140421/
/clinicalBERT/result_new_full_140421_old/
/clinicalBERT/result_testing_val_bioclinical_160421/
/mimic_bow/plots/
/clinicalBERT/lrp_interpretation/interpret-nlp/examples/bert_sst/pyorch_model.bin
/clinicalBERT/lrp_interpretation/interpret-nlp/examples/bert_sst/*.json
/clinicalBERT/bioClinBert_result_discharge/
/clinicalBERT/result_early_160421/
/clinicalBERT/model/*
/clinicalBERT/results/*
/clinicalBERT/word2vec+fastText/*
/interpretable_predictions/r1a0/*
/interpretable_predictions/results/*
/OxLegalReasoning/data/*
/OxLegalReasoning/artifacts/*
/OxLegalReasoning/dead_artifacts/*
/clinicalBERT/lrp_interpretation/interpret-nlp/examples/bert_sst/pyorch_model.bin
/clinicalBERT/lrp_interpretation/interpret-nlp/examples/bert_mimic/pytorch_model.bin
/lime/doc/notebooks/data/*
/transformer-translation/data/*
**/.csv
**/.pklclinicalBERT/model/pretrained_bert_tf/biobert_pretrain_output_all_notes_150000.tar.gz
clinicalBERT/model/pretrained_bert_tf/biobert_pretrain_output_disch_100000.tar.gz
clinicalBERT/word2vec+fastText/word2vec+fastText/BioWordVec_PubMed_MIMICIII_d200.vec.bin
clinicalBERT/data/pickle/df_discharge.pkl
clinicalBERT/data/pickle/df_less_2.pkl
clinicalBERT/data/pickle/df_less_3.pkl
clinicalBERT/lrp_interpretation/interpret_nlp/examples/bert_mimic/pytorch_model.bin
clinicalBERT/model/biobert_pretrain_output_all_notes_150000/pytorch_model.bin
clinicalBERT/model/BioClinicalBERT_3dayfinetuned_160421/pytorch_model.bin
clinicalBERT/model/BioClinicalBERT_3dayfinetuned_160421/pytorch_model.pt
clinicalBERT/model/bioclinicalBERT_discharge_readmission/pytorch_model.bin
clinicalBERT/model/discharge_readmission/pytorch_model.bin
clinicalBERT/model/early_readmission/pytorch_model.bin
clinicalBERT/model/newest_3layerClinicalBERTPretained_discharge_210421/pytorch_model.bin
clinicalBERT/model/newest_ClinicalBERTPretained_3day_210421/pytorch_model.bin
clinicalBERT/model/newest_ClinicalBERTPretained_discharge_210421/pytorch_model.bin
clinicalBERT/model/pretrained_bert_tf/biobert_pretrain_output_all_notes_150000.tar.gz
clinicalBERT/model/pretrained_bert_tf/biobert_pretrain_output_disch_100000.tar.gz
clinicalBERT/model/pretraining/pytorch_model.bin
clinicalBERT/model/results_updated_BioClinicalBERTpretrained_discharge_220421/pytorch_model.bin
clinicalBERT/model/result_new_discharge_full_140421/pytorch_model.bin
clinicalBERT/model/updated_BioClinicalBERT_3day_190421/pytorch_model.bin
clinicalBERT/results/result_discharge_val_acc/pytorch_model_new_discharge_150421.bin
clinicalBERT/results/result_new_discharge_full_140421/pytorch_model_new_discharge_140421.bin
clinicalBERT/results/result_new_full_140421_old/pytorch_model_new_discharge_140421.bin
clinicalBERT/word2vec+fastText/word2vec+fastText/BioWordVec_PubMed_MIMICIII_d200.vec.bin
german-english-transformer/checkpoints/my_checkpoint.pth - Copy.tar
german-english-transformer/checkpoints/my_checkpoint.pth.tar
interpretable_predictions/r1a0/model.pt
OxLegalReasoning/artifacts/LSTM_IB_GAN_be_mimic3_new_embs2021-05-10.pt
OxLegalReasoning/artifacts/LSTM_IB_GAN_be_mimic3_new_embs2021-05-11.pt
OxLegalReasoning/artifacts/RCNN_IB_GAN_be_mimic3_new_embs2021-05-10.pt
OxLegalReasoning/data/beer/review+wiki.filtered.200.txt
OxLegalReasoning/data/beer/reviews.260k.train.txt
OxLegalReasoning/data/mimic3/mimic3_processed_100_discharge.pkl
OxLegalReasoning/data/mimic3/mimic3_processed_3days.pkl
OxLegalReasoning/data/mimic3/mimic3_processed_discharge.pkl
OxLegalReasoning/data/mimic3/mimic3_procssed_all.pkl
OxLegalReasoning/data/mimic3/new_mimic_word2vec.model.syn1neg.npy
OxLegalReasoning/data/mimic3/new_mimic_word2vec.model.wv.vectors.npy
OxLegalReasoning/data/mimic3/new_mimic_word2vec_200.model.syn1neg.npy
OxLegalReasoning/data/mimic3/new_mimic_word2vec_200.model.wv.vectors.npy
OxLegalReasoning/dead_artifacts/LSTM_IB_GAN_be_mimic3_2021-05-04.pt
OxLegalReasoning/dead_artifacts/LSTM_IB_GAN_mimic3_030521.mdl
OxLegalReasoning/dead_artifacts/LSTM_IB_GAN_mimic3_290421.mdl
BERT_LRP/sample_data/dataset/*
